@import "screen";

body {
  font-family: 'Ubuntu', sans-serif;

  @include screen(min-tablet) {
    background-color: #58585A;
  }
}

/* =================================== HEADER =================================== */
/* Container*/
header {
  width: 100%;
  background-color: #221E1F;
  border: none;
}

.header--container {
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 3.5%;

  @include screen(min-iphone) {
    padding: 4%;
  }
  @include screen(min-smartphone) {
    padding: 3%;
  }
  @include screen(min-tablet) {
    width: 740px;
    padding: 1.5% 2%;
  }
  @include screen(max-tablet) {
    width: 920px;
  }
  @include screen(lap) {
    width: 950px;
    padding: 1%;
  }
  @include screen(large-screen) {
    width: 1150px;
    padding: 0.5%;
  }
}

/* End Container*/
/* Logo*/
.header__logo {
  @include screen(min-tablet) {
    display: inline; /*REMEMBER*/
  }
  img {
    @include screen(min-iphone){
      width: 41%;
    }
    @include screen(max-iphone){
      width: 35%;
    }
    @include screen(min-smartphone){
      width: 30%;
    }
    @include screen(min-tablet){
      width: 16%;
      margin-top: 0.5%;
    }
    @include screen(large-screen) {
      width: 15%;
    }
  }
}
/* End Logo*/
/* Hamburger icon*/
.navbar-toggle{
  margin: 0 0 0 auto;
  background-color: #221E1F;
  border: 1px solid #C8C6C7;
  border-radius: 0;

  @include screen(min-iphone){
    padding: 3% 2%;
  }
  @include screen(max-iphone){
    padding: 2.5%;
  }
  @include screen(max-smartphone){
    padding: 2%;
  }

  .icon-bar{
    background-color: #C8C6C7;

    @include screen(min-iphone){
      height: 2px;
      margin: 2px;
    }
    @include screen(max-iphone){
      min-width: 18px;
      height: 3px;
      margin: 1px;
    }
    @include screen(max-smartphone){
      min-width: 25px;
      margin: 0;
      padding: 2px;
    }
  }
}

/* End Hamburger icon*/
/* Header Main Content */
.header__content{
  @include screen(min-iphone){
    margin-top: 8%;
  }
  @include screen(max-iphone){
    margin-top: 6%;
  }
  @include screen(max-smartphone){
    margin-top: 4%;
  }
  @include screen(min-tablet){
    display: inline;    /*REMEMBER*/
    float: right;       /*REMEMBER*/
    width: 80%;
    margin: 0;
    padding-top: 1%;
  }
  @include screen(lap){
    padding-top: 0;
  }
  @include screen(large-screen){
    margin: 1%;
  }
}

/* Header Search Bar */
.header__content-search{
  @include screen(min-tablet) {
    display: inline; /*REMEMBER*/
    float: left; /*REMEMBER*/
    margin: auto;
  }
  input{
    //font-size: 1em;
    width: 60%;
    padding: 1.5%;
    border: none;

    @include screen(min-iphone){
      float: left;
      width: 92%;
    }
    @include screen(max-iphone){
      width: 94%;
    }
    @include screen(min-smartphone){
      padding: 1.3%;
    }
    @include screen(max-smartphone){
      width: 94.5%;
      font-size: 1.2em;
    }
    @include screen(min-tablet){
      width: 85%;
      display: inline; /*REMEMBER*/
      margin: auto;
      padding: 2.3%;
      font-size: 1em;
    }
    @include screen(lap){
      margin-top: 4.3%;
    }
  }
  div{
    float: left;
    margin-left: 0;
    vertical-align: middle;
    font-size: 1.3em;
    background-color: #E43E2F;
    color: #ffffff;

    @include screen(min-iphone){
      padding: 0.8% 0.9%;
    }
    @include screen(max-iphone){
      padding: 1%;
    }
    @include screen(max-smartphone){
      padding: 1.2%;
    }
    @include screen(min-tablet){
      padding: 1.6%;
      font-size: 1.2em;
    }
    @include screen(lap){
      margin-top: 4.3%;
    }
  }
}

/* End Header Search Bar*/
/* Header Navigation List*/
.header__content-navlist {
  margin-bottom: 0;

  li {
    @include screen(min-tablet) {
      flex: 1 1 100%;
    }
    @include screen(max-tablet) {
      text-align: center;
      word-spacing: 4px;
    }
    a {
      font-size: 1em;
      color: #FCFCFC;
      padding-top: 2%;
      padding-bottom: 2%;
      &:hover {
        color: #231F20;
      }
      @include screen(min-iphone) {
        padding-left: 4%;
        padding-right: 4%;
      }
      @include screen(max-iphone) {
        padding-left: 3%;
        padding-right: 3%;
        font-size: 1.1em;
      }
      @include screen(min-smartphone) {
        padding: 2%;
      }
      @include screen(max-smartphone) {
        font-size: 1.2em;
      }
      @include screen(min-tablet) {
        font-size: 1em;
        padding: 3% 6%;
      }
      @include screen(lap) {
        font-size: 1.1em;
      }
    }
  }

  @include screen(min-iphone) {
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }
  @include screen(min-tablet) {
    float: right;       /*REMEMBER*/
    margin-top: 0;
    margin-bottom: auto;
    padding: 0;
    display: inline-flex;
    width: 45%;
  }
  @include screen(lap) {
    margin-top: 1%;
  }
}

.header__content-navelem--divider {
  border-bottom: 1px #3E3A3B solid;
  @include screen(min-tablet) {
    border-bottom: none;
    border-right: 1px #3E3A3B solid;
  }
}

/* End Header Navigation List*/
/* End Header Main Content*/

/* =================================== FOOTER =================================== */
footer {
  overflow: hidden;
  margin: 2% auto;
  //padding: 1%;
  color: #B1B1B3;

  @media (max-width: 767px) {
    display: none;
  }
  @include screen(min-tablet) {
    width: 740px;
  }
  @include screen(max-tablet) {
    width: 920px;
  }
  @include screen(laptop) {
    width: 950px;
  }
  @include screen(large-screen) {
    width: 1150px;
  }
}

.footer__author {
  float: left;
  padding: 0.5%;
}

.footer__nav {
  float: right;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    a {
      padding-right: 15px;
      color: #B1B1B3;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
    .footer__nav-link--last {
      padding-right: 0;
    }
  }
}


