<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pytaku</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/base.css" type="text/css">
    <link rel="stylesheet" href="../css/index_nologin.css" type="text/css">

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
    <!-- -- HEADER -- -->
    <header>
        <div class="header--container">
            <nav class="header__logo">
                <!--Logo image-->
                <!--<a href="#" class="header__logo-img"><img alt="Pytaku Logo" src="../logo/pytaku-white.png" width="100%"></a>-->
                <a href="#"><img alt="Pytaku Logo" src="../logo/pytaku-white.png"></a>
                <!--End logo image-->

                <!--Hamburger icon for mobile version-->
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target=".header__content"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--End hamburger icon-->
            </nav>

            <!--Header main content-->
            <nav class="collapse header__content">
                <!--Search bar-->
                <section class="header__content-search">
                    <input type="text" placeholder="Search..."
                           aria-describedby="basic-addon">
                    <div id="basic-addon"><i class="fa fa-search"></i></div><br>
                </section>

                <!--Bunch of navigations-->
                <ul class="nav navbar-nav header__content-list">
                    <li class="header__content-elem">
                        <a class="header__content-link header__content-link--divider">
                            <i class="fa fa-bookmark-o"></i> My Bookmarks
                        </a>
                    </li>
                    <li>
                        <a class="header__content-link" id="acct-dropdown">
                            <i class="fa fa-user"></i> Account <span class="caret"></span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!--End header main content-->
        </div>
    </header>

    <!--User Account's submenu-->
    <section class="acct-submenu">
        <ul class="acct-submenu__list">
            <li class="acct-submenu__list-elem"><a href="#" class="acct-submenu__link">Profile</a></li>
            <li class="acct-submenu__list-elem"><a href="#" class="acct-submenu__link">Change password</a></li>
            <li class="acct-submenu__list-elem acct-submenu__list-elem--noborder">
                <a href="#" class="acct-submenu__link">Log out</a>
            </li>
        </ul>
    </section>
    <!--End User Account's sub-menu-->

    <!-- -- END HEADER -- -->

    <!-- -- MAIN BODY -- -->
    <main class="clearfix">
        <!--Main content -->
        <div class="row">
            <!--Latest Update Section-->
            <section class="update col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <h3><strong>Latest update</strong></h3>
                <!--Website List-->
                <ul class="update__website-list">
                    <li class="update__website-list-elem active">
                        <a href="#bato" class="update__website-list-link" data-toggle="tab"> <!--Remember href-->
                            bato.to
                        </a>
                    </li>

                    <li class="update__website-list-elem">
                        <a href="#kissmanga" class="update__website-list-link" data-toggle="tab"> <!--Remember href-->
                            kissmanga.com
                        </a>
                    </li>

                    <li class="update__website-list-elem">
                        <a href="#mangafox" class="update__website-list-link" data-toggle="tab">  <!--Remember href-->
                            mangafox.me
                        </a>
                    </li>
                </ul>
                <!--End Website List-->

                <!--Latest Manga Updates-->
                <div class="tab-content">
                    <div class="tab-pane active" id="bato" style="border-top: none;">
                        <ul class="update__manga-list">
                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-01.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Tourou no Ori</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.20 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">1 hour ago</li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-02.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Shinobi Shijuusou</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.10 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">1 hour ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-03.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Jojo's Bizarre Adventure Part 5: Vento Aureo</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.180 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-04.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Lan Chi</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.33 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.32 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.31 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">3 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.30 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">3 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-05.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">
                                        Devil Summoner - Kuzunoha Raidou Tai Kodoku no Marebito
                                    </li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.13 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">4 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.12 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">4 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-06.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">SE</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.32 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">8 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-07.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">To Love-Ru Darkness</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.23 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">8 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.22 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">9 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.21 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">9 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="kissmanga" style="border-top: none;">
                        <ul class="update__manga-list">
                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-01.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Tourou no Ori 01</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.20 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">1 hour ago</li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-02.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Shinobi Shijuusou</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.10 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">1 hour ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-03.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Jojo's Bizarre Adventure Part 5: Vento Aureo</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.180 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-04.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Lan Chi</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.33 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.32 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.31 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">3 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.30 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">3 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-05.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">
                                        Devil Summoner - Kuzunoha Raidou Tai Kodoku no Marebito
                                    </li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.13 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">4 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.12 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">4 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-06.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">SE</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.32 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">8 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-07.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">To Love-Ru Darkness</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.23 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">8 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.22 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">9 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.21 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">9 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="mangafox" style="border-top: none;">
                        <ul class="update__manga-list">
                            <li class="update__manga-list-elem">

                                <img src="../comic-thumbnail/com-01.png" alt="comic-img" class="update__manga-img" width="100%"/>

                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Tourou no Ori 02</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.20 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">1 hour ago</li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-02.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Shinobi Shijuusou</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.10 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">1 hour ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-03.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Jojo's Bizarre Adventure Part 5: Vento Aureo</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.180 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-04.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">Lan Chi</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.33 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.32 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">2 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.31 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">3 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.30 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">3 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-05.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">
                                        Devil Summoner - Kuzunoha Raidou Tai Kodoku no Marebito
                                    </li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.13 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">4 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.12 Read online</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">4 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-06.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">SE</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.32 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">8 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="update__manga-list-elem">
                                <img src="../comic-thumbnail/com-07.png" alt="comic-img" class="update__manga-img" width="100%"/>
                                <ul class="update__manga-list update__manga-list--text">
                                    <li class="update__manga-info update__manga-subinfo--title">To Love-Ru Darkness</li>
                                    <li class="update__manga-info">
                                        <ul class="update__manga-list">
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.23 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">8 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.22 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">9 hours ago</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--chap">Ch.21 Example Chapter</li>
                                            <li class="update__manga-subinfo update__manga-subinfo--time">9 hours ago</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row pager-opt">
                    <button class="pager-opt__btn">Older Releases</button>
                    <button class="pager-opt__btn pager-opt__btn--right">Newer Releases</a></button>
                </div>
            </section>

            <section class="pop-series hidden-xs-12 visible-sm-5 visible-lg-5 visible-md-5 col-lg-offset-7 col-md-offset-7 col-sm-offset-7">
                <input type="text" placeholder="Search..." class="pop-series__search">
                <h4><strong>Popular Series</strong></h4>
                <ul class="pop-series__list">
                    <li class="pop-series__list-elem">
                        <img src="../comic-thumbnail/com-pop-01.png" alt="comic-img" class="pop-series__manga-img" width="100%">
                        <ul class="pop-series__manga-info">
                            <li class="pop-series__manga-info-title">Re:Monster</li>
                            <li class="pop-series__manga-info-chap">Ch.14 Example Chapter</li>
                        </ul>
                    </li>

                    <li class="pop-series__list-elem">
                        <img src="../comic-thumbnail/com-pop-02.png" alt="comic-img" class="pop-series__manga-img" width="100%">
                        <ul class="pop-series__manga-info">
                            <li class="pop-series__manga-info-title">Maou no Hajimekata</li>
                            <li class="pop-series__manga-info-chap">Ch.2 Example Chapter</li>
                        </ul>
                    </li>

                    <li class="pop-series__list-elem">
                        <img src="../comic-thumbnail/com-pop-05.png" alt="comic-img" class="pop-series__manga-img" width="100%">
                        <ul class="pop-series__manga-info">
                            <li class="pop-series__manga-info-title">JoJo's Bizarre Adventure...</li>
                            <li class="pop-series__manga-info-chap">Ch.110 Read JoJo's Bizarre...</li>
                        </ul>
                    </li>

                    <li class="pop-series__list-elem">
                        <img src="../comic-thumbnail/com-pop-04.png" alt="comic-img" class="pop-series__manga-img" width="100%">
                        <ul class="pop-series__manga-info">
                            <li class="pop-series__manga-info-title">Boku to Majo no Jikan</li>
                            <li class="pop-series__manga-info-chap">Ch.180 Example Chapter</li>
                        </ul>
                    </li>

                    <li class="pop-series__list-elem">
                        <img src="../comic-thumbnail/com-pop-05.png" alt="comic-img" class="pop-series__manga-img" width="100%">
                        <ul class="pop-series__manga-info">
                            <li class="pop-series__manga-info-title">Mahou Tsukai no Yome</li>
                            <li class="pop-series__manga-info-chap">Ch.31 Example Chapter</li>
                        </ul>
                    </li>

                    <li class="pop-series__list-elem">
                        <img src="../comic-thumbnail/com-pop-06.png" alt="comic-img" class="pop-series__manga-img" width="100%">
                        <ul class="pop-series__manga-info">
                            <li class="pop-series__manga-info-title">Tate no Yuusha no Nariagari</li>
                            <li class="pop-series__manga-info-chap">Ch.12 Example Chapter</li>
                        </ul>
                    </li>

                    <li class="pop-series__list-elem">
                        <img src="../comic-thumbnail/com-pop-07.png" alt="comic-img" class="pop-series__manga-img" width="100%">
                        <ul class="pop-series__manga-info">
                            <li class="pop-series__manga-info-title">SE</li>
                            <li class="pop-series__manga-info-chap">Ch.32 Read online</li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
        <!--<main>-->
        <!--</main>-->
    </main>
    <footer class="footer">
        <div class="footer__author">
            @Designed by Phan Minh Dang & Bui Thanh Nhan, 2015
        </div>
        <ul class="footer__nav">
            <li class="footer__nav-elem"><a href="#" class="footer__nav-link">Home</a></li>
            <li class="footer__nav-elem"><a href="#" class="footer__nav-link footer__nav-link--last">Github Project</a></li>
        </ul>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.js"></script>-->
    <script src="../js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#acct-dropdown").click(function(){
                $(".acct-submenu__list").toggle();
            });
        })
    </script>

</body>
</html>